<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sea Battle</title>
		<link rel="stylesheet" href="src/style.css" />
		<link rel="stylesheet" href="src/drop.css"/>
		<link rel="stylesheet" href="src/auth.css"/>
	</head>
    <body>
		<div class="app">
			<div class="app-header">
				<h1 class="app-title">Морской бой</h1>
				<span class="app-subtitle"
					>Проект: 
					<a href="https://github.com/kirom163/SeaBattle" class="app-link" target="_blank">SeaBattle</a></span>
				<p class="app-subtitle"><span data-playerCount>0</span> игроков онлайн</p>
			 {{#if isLogging}}
					<p class="app-subtitle">Вы вошли как: <mark><b>{{userName}}</b></mark></p>{{/if}}
			</div>
		</div>
		
		<div class="logger" >
			<div class="auth" >
				<h3 class="tit-syst">Правила игры</h3>
                <p class="tit-syst">Два игрока размещают свой флот на поле размером 10 х 10 клеток.
                    При размещении корабли не могут касаться друг друга сторонами и углами.<br>
                    1)если выстрел пришёлся в клетку, не занятую ни одним кораблём противника, 
                    то следует ответ «Мимо!» и стрелявший игрок ставит на чужом квадрате в этом месте точку.
                     Следующий ход совершает соперник;<br>
                     2)	если выстрел пришёлся в клетку, где находится многопалубный корабль, то следует
                      ответ «Попал!», кроме случая в пункте 3. Стрелявший игрок ставит на чужом поле в
                       эту клетку крестик, а его противник ставит крестик на своём поле также в эту
                        клетку. Стрелявший игрок получает право на ещё один выстрел;<br>
                        3)	если выстрел пришёлся в клетку, где находится однотрубный корабль,
                         или последнюю непоражённую клетку многопалубного корабля, то следует 
                         ответ «Убил(а)!». Оба игрока отмечают потопленный корабль на листе,
                          стрелявший игрок получает право на ещё один выстрел.
                          <br>
                          Победителем считается тот, кто первым потопит все 10 кораблей противника.
                </p>
				<button type="submit" id="cancel-to-index">Закрыть</button>
			</div>
		<script type="module" src="src/fromAuthorize.js"></script>
		
		</body>
		</html>