	<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sea Battle</title>
		<link rel="stylesheet" href="src/style.css" />
		<link rel="stylesheet" href="src/drop.css"/>
		<link rel="stylesheet" href="src/auth.css"/>
	</head>
    <body>
		<div class="app">
			<div class="app-header">
				<h1 class="app-title">Морской бой</h1>
				<span class="app-subtitle"
					>Проект: 
					<a href="https://github.com/kirom163/SeaBattle" class="app-link" target="_blank">SeaBattle</a></span>
				<p class="app-subtitle"><span data-playerCount>0</span> игроков онлайн</p>
			 {{#if isLogging}}
					<p class="app-subtitle">Вы вошли как: <mark><b>{{userName}}</b></mark></p>{{/if}}
			</div>

<href></href>




		</div>
<div class="fef">
	
<a href="#start">Введение</a>
<a href="#prog">Запуск программы</a>
<a href="#gameGo">Проведение боя</a>
<a href="#getReady">Подготовка к бою</a>
<a href="#step">Ход боя</a>
<a href="#game">Игра</a>
<a href="#gameAI">Игра с компьютером</a>
<a href="#gameRandom">Случайный матч</a>
<a href="#auth">Авторизация</a>
<a href="#saveLoadPos">Сохранение и загрузка расстановок</a>
<a href="#savePos">Сохранение расстановок</a>
<a href="#loadPos">Загрузка расстановок</a>
<a href="#saveLoadGame">Сохранение и загрузка игр</a>
<a href="#saveGame">Сохранение игр</a>
<a href="#loadGame">Загрузка игр</a>
</div>
<p></p>
<h1>Автоматизированная система "Игра " Морской бой"</h1>
<h2 id="start">Введение</h2>
<p>Автоматизированная система представляет собой браузерное web-приложение, позволяющее пользователям
	 играть в игру "Морской бой" как с искусственным интеллектом, так и сдругими пользователями в режиме онлайн.
	 Программа использует базу данных MySQL, расположенную на сервере.
	 Программная система функционирует под управлением Windows 7 и выше. 
	 Системные требования: браузер Google Chrome 86.0.4240.183 (64-битная версия) или его аналоги. </p>
<h2 id="prog">Запуск программы</h2>

<p>При запуске приожения пользователь попадает на главную страницу, где может
	 пройти авторизацию или расставить корабли по стратегиям или вручную.</p>
	 <img class="img-op" src="http://localhost:3000/1.jpg" width="800px" height="600px">
	 <p>Расстановка кораблей производится компьютерной мышью.</p>
	 <p>При нажатии и удерживании левой кнопкой мыши на корабле, его становиться возможно перетаскивать.
		Если левую кнопку мыши с удерживаемым кораблем отпустить вне поля, корабль вернется на исходную
		 позицию, если отпустить на поле боя, то корабль прикрепится к полю.
		 Колесиком мыши можно вращать корабль (делать его горизонтальным или вертикальным).
		  Если корабль при расстановке был положен на поле неправильно, то он вернется на исходную позицию.
	 </p>
	
	 <h2 id="gameGo">Проведение боя</h2>
	 <h3 id="getReady">Подготовка к бою</h3>
	 <p>Перед тем как начать бой, пользователь должен расположить корабли на поле последством ручной
		 или автоматической расстановки.</p>
		 <img class="img-op" src="http://localhost:3000/2.jpg" width="800px" height="600px">
	 <h3>Автоматическая расстановка</h3>
	 <p>При автоматической расстановке пользователь нажимает на меню "Выбрать расстановку" и выбирает один из трех пунктов, соответствующих трем расстановкам(Диагонали, Берега, случайная)
		Диагональная расстановка располагает корабли на любых ячейках поля, кроме главных диагоналей.
		Расстановка "Берега" располагает однопалубные корабли в центре поля, а многопалубные по границе поля.
	 </p>
	 <img class="img-op" src="http://localhost:3000/3.jpg" width="800px" height="600px">
	
	 <h2 id="step">Ход боя</h2>
	 <p>Игрок и оппонент(компьютер или другой пользователь) поочередно обмениваются выстрелами 
		(пользователь может совершить выстрел нажав в любом месте на полю оппонента левой кнопкой мыши) при этом система определяет результат выстрела (попадание или промах),
		на основании которого определяет очередность хода, передает управление и обновляет состояние полей пользователя и опппонента.
		Система также отслеживает состояние флота пользователя и оппонента. 
		Если флот одного из участников игры полностью потоплен, то система выводит сообщение о победе или поражении, в зависимости от победителя.
	 </p>
	 
	
	 <h2 id="game">Игра</h2>
	 <h3 id="gameAI">Игра с компьютером</h3>
	 <p>Если пользователь расставил корабли на поле, то он может также запустить случайный бой или выбрать сложность ИИ. 
		При выборе сложности пользователь выбирает один из 3 пунктов меню "Выбрать сложность", каждый из которых открывает страницу игры с ИИ
		с заданным уроынем сложности. Уровень сложности настраивает стратегию ведения боя с компьютером: компьютер уровня сложности "Рядовой"
		стреляет по случайным клеткам, без добивания; "Лейтенант" стреляет по случайным клеткам и реализует стратегию добивания;
		"Адмирал" также реализует стратегию добивания, но сначала стреляет по клеткам главной диагонали, а затем по случайным.</p>
		<img class="img-op" src="http://localhost:3000/6.jpg" width="800px" height="600px">
	 <h3 id="gameRandom">Случайный матч</h3>
	 <p>Если пользователь нажал левой кнопкой мыши по пункту меню "Случайный матч". то он добавляется в список ожидающих игроков.
		 Система отслеживает список ожидающих игроков, и как только в этом списке поялвяются 2 или более участников, система соединяет двух случайных
		  игроков для проведения игры. В течение матча в любой момент один из пользователь может признать поражение, нажав на кнопку "сдаться". 
		  В этом случае система предварительно завершает матч и выводит другому пользователю сообщение о победе.</p>
		<img class="img-op" src="http://localhost:3000/4.jpg" width="800px" height="400px">
	 <img class="img-op" src="http://localhost:3000/5.jpg" width="800px" height="400px">
	
	  <h2 id="auth">Авторизация</h2>
	  <p>Если пользователь решил авторизоваться или зарегистрироваться, то он нажимает кнопку "Авторизация" на главной странице приложения.
		После чего происходит переадресация на страницу авторизации.
		На данной странице пользователь вводит свои логин и пароль.<br>
		<img class="img-op" src="http://localhost:3000/8.jpg" width="800px" height="600px"><br>
		Если пользователь ещё не зарегистрировался, он нажимает кнопку "Регистрация", после чего система его регистрирует и перенапраляет на главную страницу.
		Если пользователь уже регистрировался, то  он нажимает кнопку "Войти", после чего система выполняет вход и также переадресует его на главную страницу.
		При вводе некорректных данных система выводит сообщение об ошибке.
		Авторизованному пользователю становится доступны сохранение и загрузка расстановок и игр с ИИ.
	  </p>	  
	  
	  <img class="img-op" src="http://localhost:3000/9.jpg" width="800px" height="300px">
	  

       <h2 id="saveLoadPos">Сохранение и загрузка расстановок</h2>
	   <h3 id="savePos">Сохранение расстановок</h3>
	   <p>Как только пользователь полностью расставил свой флот на поле(ручной или автоматической расстановке), 
		Ему становится доступна кнопка "Сохранить расстановку" из меню "Выбрать расстановку".
		При нажатии на эту кнопку система сохраняет текущую расстановку в базе данных.
		После сохранения пользователь сможет её загрузить.</p>
		
		<h3 id="loadPos">
          Загрузка расстановок
		</h3>
	   <p>Пользователь может загрузить расстановку, нажав на кнопку "Загрузить расстановку" из меню "Выбрать расстановку".
		При нажатии на эту кнопку система открывает страницу выбора сохраненных расстановок, на которой отображается список, элементами которого являются 
		сохраненные расстановки.
		Для каждой расстановки отображаеся время её сохранения и кнопка "Загрузить", по нажатию на которую система открывает главную страницу с загруженной расстановкой.
		Также на странице сохраненных расстановок есть кнопка "Отмена", по нажатию на которую пользователь возвращается на главную страницу.
	   </p>
	   <img class="img-op" src="http://localhost:3000/10.jpg" width="800px" height="450px">

	   <h2 id="saveLoadGame">Сохранение и загрузка игр</h2>
	   <h3 id="saveGame">Сохранение  игр</h3>
	   <p>Во время ведения боя с ИИ,  пользователь может нажать кнопку "Сохранить и выйти", при нажатии на которую система сохраняет текущий бой в базе данных
		и переадресует пользователя на главную страницу.
		После сохранения пользователь сможет её загрузить.</p>
		<h3 id="loadGame">
          Загрузка игр
		</h3>
	   <p>Пользователь может загрузить игру, нажав на кнопку "Загрузить игру".
		При нажатии на эту кнопку система отображает контекстное меню сохраненных игр, на которой отображается список, элементами которого являются 
		сохраненные игры .
		Для каждой игры отображаеся время её сохранения, сложность компьютера и кнопка "Загрузить", по нажатию на которую система загружает сохраненный бой.
		Также в меню есть кнопка "Отмена", по нажатию на которую меню закрывается.
	   </p>
	   <img class="img-op" src="http://localhost:3000/11.jpg" width="800px" height="570px">
	 
		<script type="module" src="src/fromAuthorize.js"></script>
		
		</body>
		</html>