<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sea Battle</title>
		<link rel="stylesheet" href="src/style.css" />
		<link rel="stylesheet" href="src/drop.css"/>
		<link rel="stylesheet" href="src/auth.css"/>
	</head>
    <body>
		<div class="app">
			<div class="app-header">
				<h1 class="app-title">Морской бой</h1>
				<span class="app-subtitle"
					>Проект: 
					<a href="https://github.com/kirom163/SeaBattle" class="app-link" target="_blank">SeaBattle</a></span>
				<p class="app-subtitle"><span data-playerCount>0</span> игроков онлайн</p>
			 {{#if isLogging}}
					<p class="app-subtitle">Вы вошли как: <mark><b>{{userName}}</b></mark></p>{{/if}}
			</div>
		</div>
		
		<div class="logger" >
			<div class="auth" >
				<h3 class="tit-syst">Справка о разработчиках</h3>
				<p class="tit-syst"><br></p>
                <p class="tit-syst">Самарский университет</p>
                <p class="tit-syst">Кафедра программных систем</p>
                <p class="tit-syst"><br></p>
                <p class="tit-syst">Курсовой проект по дисциплине</p>
                <p class="tit-syst">"Программная инженерия"</p>
                <p class="tit-syst"><br></p>
                <p class="tit-syst">Разработчики: студенты группы 6415</p>
                <p class="tit-syst">Сушко Кирилл Евгеньевич</p>
                <p class="tit-syst">Спиркин Петр Евгеньевич</p>
                <p class="tit-syst">Еграшкина Ольга Евгеньевна<br></p>
                <p class="tit-syst"><br></p>
				<button type="submit" id="cancel-to-index">Закрыть</button>
			</div>
		<script type="module" src="src/fromAuthorize.js"></script>
		
		</body>
		</html>