* {
	margin: 0;
	padding: 0;
	user-select: none;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: aquamarine;
}

.app {
	width: 1000px;
	margin: 0 auto;
}

.app-header {
	text-align: center;
	padding: 30px;
}

.app-body {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	
	gap: 5%;
}

.app-subtitle {
	color: gray;
}

.app-link {
	text-decoration: none;
	color: #02025c;
}

.battlefield {
	position: relative;
}

.battlefield-table {
	border-collapse: collapse;
	border-spacing: 0;
	background: rgba(220, 217, 10, 0.353);
}

.battlefield-item {
	position: relative;
	width: 32px;
	height: 32px;
	border: 1px solid rgba(245, 33, 5, 0.563);
}

.battlefield-item__active {
	background: rgba(123, 121, 255, 0.2);
}

.marker {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.battlefield-status {
	text-align: center;
	padding: 20px;
}

.marker-row {
	left: -35px;
}

.marker-column {
	top: -35px;
}

.ship {
	position: absolute;
	top: 0;
	left: 0;
	margin: -1px;
	border: 2px solid #0400ff;
	background: rgba(0, 55, 255, 0.45);
	width: 32px;
	height: 32px;
}

.ship-row-1 {
}

.ship-row-2 {
	width: 65px;
}

.ship-row-3 {
	width: 98px;
}

.ship-row-4 {
	width: 131px;
}

.ship-column-1 {
}

.ship-column-2 {
	height: 65px;
}

.ship-column-3 {
	height: 98px;
}

.ship-column-4 {
	height: 131px;
}

.app-actions {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.app-action {
	width: 210px;
	padding: 10px;
	color: black; 
    border: 2px solid #4CAF50;
	border-radius: 4px;
}

.app-action:hover {
	background-color: #4CAF50;
    color: white;
}

.shot {
	width: 32px;
	height: 32px;
	text-align: center;
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
}

.shot-missed {
	color: "black";
}

.shot-wounded {
	background: #fbdede;
	z-index: 1;
}

.shot-wounded::after {
	content: " ";
	width: calc(32px * 1.3);
	height: calc(32px * 1.3);
	border-top: 2px solid red;
	position: absolute;
	z-index: -1;
	transform: rotate(45deg);
	top: 9px;
	left: -20px;
}

.shot-wounded::before {
	content: " ";
	width: calc(32px * 1.3);
	height: calc(32px * 1.3);
	border-top: 2px solid red;
	position: absolute;
	z-index: -1;
	transform: rotate(-45deg);
	top: 9px;
	left: 9px;
}

.shot-killed {
	margin: -2px;
	border: 4px solid red;
}

.hidden {
	display: none;
}